.banner {
  background-size: cover;
  background-position: center;
  height: 335px;
  padding: 100px 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 200px;
}

